{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
         <!-- Bootstrao CSS -->
          <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
           <title>mysite01</title>
    </head>
    <body>
        <!-- navigation bar -->
         {% include "navbar.html" %}
        <!--- Start content in base template -->
        {% block content %}
        {% endblock %}
        <!-- End content in base template -->
        <!-- Bootstrap JS -->
        <script src="{% static 'bootstrap.min.js' %}"></script>
        <!-- Start javascript -->
        {% block script %}
        {% endblock %}
        <!-- End javascript -->
    </body>
</html>